body {
    background-color: powderblue;
  }
  h1 {
    color: cornflowerblue;
    text-align: center;
  }
  h4 {
    color: cornflowerblue;
    text-align: center;
  }
  p {
    color: darkblue;
    text-align: center;
  }

  li{
    color: blueviolet;
    text-align: center;
  }
  
  input{
  text-align: center;
  color: cadetblue

  }

  input#new-workout-description{
    text-align: center;
  }