body {
    background-color:  #fcfbf4;
    /* background-image: linear-gradient(to bottom right, powderblue, rgba(218, 189, 247, 0.851)) */
  }
  h1 {
    /* font-family:  'Permanent Marker', cursive; */
    font-family: 'Black Ops One', cursive;
    text-shadow: 1px 1px #1c0202;
    color: #2e2f2e;
    text-align: center;
  }



  h2{
    /* font-family: 'Black Ops One', cursive; */
    text-align: center;
    color: rgb(19, 27, 43);
  
  }

  h3{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  h4 {
    color: #2e2f2e;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  h5 {
    /* font-family:  'Permanent Marker', cursive; */
    /* text-shadow: 1px 1px #1c0134; */
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Lato', sans-serif;

    color: #2e2f2e;
    text-align: center;
  }
  p {
    color: darkblue;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }

   li{
    color: #7e75a3;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;     
    /* border: 5px solid rgb(207, 175, 250); */
    border-radius: 15px 50px;
    width: 250px;
    height: 100px;
    display:inline-block;
    margin-right:10px;


  }

  input#reset-button{
    border-radius: 8px;
    color: rgb(105, 190, 255);
    border: blueviolet;



  }


  
  input:focus{
  text-align: center;
  color: cadetblue;
  width: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
   border: none;
  border-radius: 4px;
  border-bottom: 2px solid rgb(0, 157, 255);
  /* background-image: linear-gradient(to bottom right, powderblue, rgba(218, 189, 247, 0.851)) */

  }

  input#new-workout-description{
    text-align: center;
    border-bottom: 2px solid red;
  }  

  input#new-workout-name{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }

  form#new-workout-form{
text-align: center;
text-indent: 0cm;    
width: 100%;
background-color: #4b4e4d31;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;

  }


  form#new-athlete-form{
    text-align: center;
    text-indent: 0cm;    
    
    
      }
  .header {
    padding: -60px;
    text-align: left;
    background: #c099da;
    color: white;
    font-size: 30px;
  }

  button{
    color: rgb(4, 29, 49);
    border-radius: 20px;
  
  }

  .footer {
    padding: 2px;
    text-align: left;
    font-size: 45%;
  }

  #or {
    padding: 10px;
    text-shadow: 1px 1px #b4b4b4;
    font-family:  'Permanent Marker', cursive;
    color: cornflowerblue;
    font-size: 1.5em;
  }

  #workouts-container{
      list-style-position: outside;
      padding: 20px;
      align-content: space-around;
      margin-left: auto;
      
  }

  a:link {
    text-decoration: none;
    text-align: center;
  }
  
  a:visited {
    color: cornflowerblue;
    text-decoration: none;
  }
  a:hover {
    color: hotpink;

      text-decoration: underline;
    
  }

  a:active {
    color: blue;
    text-decoration: none;
  }

label {
  color:blueviolet
}

select#new-workout-body_part-name{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input#new-workout-name{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input#new-workout-description{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input#new-workout-athlete-name{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  color: #7e75a3;
  font-family: 'Lato', sans-serif;

}
  

 